@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway_Bold";
  src: url("./assets//fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway_md";
  src: url("./assets//fonts/Raleway-Medium.ttf");
}

body {
  color: white;
  background-color: #060407;
  font-family: "Raleway_md";
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}
.zoom-in:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.animate-color {
  transition: all;
  animation: slide 2s linear 0s infinite forwards;
}
@keyframes slide {
  0% {
    color: red;
    transform: rotate(0deg);
  }
  25% {
    color: rgb(152, 142, 9);
  }
  50% {
    color: rgb(32, 180, 64);
  }
  75% {
    color: rgb(25, 31, 147);
  }
  100% {
    color: red;
    transform: rotate(360deg);
  }
}
